.form {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 2rem 2rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2rem;
  color: white;
  margin-top: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.form label {
  display: block;
  font-size: 1.5rem;
  padding: 10px 10px 5px;
}
.form input[type="text"] {
  width: 100%;
  border-radius: 1rem;
  border: none;
  padding: 0.5rem;
  outline: none;
  grid-column: span 2;
}
.form textarea {
  border-radius: 1rem;
  border: none;
  height: 8rem;
  padding: 1rem;
  width: 100%;
  grid-column: span 2;
  outline: none;
}
.gray {
  background-color: #d9d9d9bd;
}

.form .label {
  display: inline-block;
  margin: 0.9rem;
  width: 3rem;
  height: 3rem;
  border-radius: 1rem;
}
.addInformation {
  grid-column: span 2;
}
.form button {
  display: block;
  padding: 1rem 9rem;
  margin: 1rem auto 0;
  border: none;
  background: #308aff;
  color: white;
  border-radius: 1rem;
  grid-column: span 2;
  cursor: pointer;
}
.span {
  position: absolute;
  color: #9d9d9d;
  bottom: 5.5rem;
  left: 2.8rem;
  font-weight: 600;
}
.exit {
  margin-left: auto;
  fill: #ff8181;
  cursor: pointer;
}
@media (min-width: 700px) {
  .form .label {
    margin: 0.9rem 1.9rem;
    width: 5rem;
    height: 5rem;
    border-radius: 1rem;
  }
  .span {
    bottom: 9.5rem;
    left: 10.5rem;
    font-size: 1.3rem;
  }
}
